{% extends 'includes/base.html' %}
{% load static %}
{% block title %}
password reset
{% endblock title %}

{% block content %}

<div class="row">
    <div class=" col-sm-7 card signup-section shadow-sm  mx-auto pb-4">

        <div class=" text-center mt-5">
            <p class="text-18"> <b>Change Password</b></p>
        </div>

        <!--Input area-->
        <form class="container mt-1" method="post">
            {% csrf_token %}

            {% if form.errors %}
            <!-- Error messaging -->
            <div id="errors" class="alert alert-danger">
                <div class="inner">
                    <p>There were some errors in the information you entered. Please correct the following:</p>
                    <ul>
                        {% for field in form %}
                        {% if field.errors %}<li>{{ field.label }}: {{ field.errors|striptags }}</li>{% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <!-- /Error messaging -->
            {% endif %}



            <label for="id_new_password1" class="inter-texts blue-texts mt-3"><b> New Password</b></label><br>
            <input type="password" name="new_password1" class="form-control text-input mt-2" id="id_new_password1"
                placeholder="************" required>


            <label for="id_new_password2" class="inter-texts blue-texts mt-3"><b>Retype Password</b></label><br>
            <input type="password" name="new_password2" class="form-control text-input mt-2" id="id_new_password2"
                placeholder="************" required>


            <div class="mt-4 mt-2">
                <input type="submit" class="btn red-btn btn-lg inter-texts text-14 text-light" value="Next">

            </div>
    </div>

    </form>

</div>

</div>
</div>

{% endblock content %}